#wpfooter,#calendar{display: none !important;}

.btn {
    color: white;
    padding: 5px 15px;
    border: none;/*1px solid #dfdfdf;*/
    border-radius: 8px;
    background-color: lightseagreen;
    
}
.closed{
    display:none;
}
.shown{
    display: block;
}
.btn-warning {
    background-color: tomato;
}

.btn-primary {
    background-color: skyblue;
}
.btn-primary:disabled {
    background-color: rgb(76, 99, 109,0.08);
}
.invalid-input{border:1px dotted orangered !important;}
.maybe-invalid-input{border:1px dotted orange !important;}
.rdv_custom_menu {
    padding-right: 15px;
}

.vignet_consultant_future_apointement {
    border-radius: 7px;
    border: 1px solid #dfdfdf;
    padding: 5px 8px;
    min-width: 140px;
    text-align: center;
    margin-top:10px;
}
.vignet_consultant_future_apointement:hover {
    background-color: rgb(226, 225, 225);
    box-shadow: 10px 10px 15px lightgray;
}
.vignet_consultant_future_apointement .avatar {
    border-radius: 35px;
}

.consultant_apointements_vignette_list {
    display: flex;
    padding:5px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-height: 33vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #fafafc;
}
.hide{display:none}
.rdv_custom_menu{
    padding-right: 20px;
}
.flex{
    display: flex;
}
.flex.center-child>div{
    text-align: center;
}
.consultant-viewer
{
    /* display:none; */
    padding-top: 10px;
}
.consultant-viewer img{
    border-radius: 35px;
    max-width: 96px;
    max-height: 96px;
}
.consultant-viewer>.infos{
    display:none;
}
/*client take apointment */
#client_take_apointment_question_content{
     resize: none; 
     width: 100%;
}
.loading-prestation-container{
    text-align: center;
    display: none;
}
.loading-prestation-img{
    max-width: 100px;
    max-height: 100px;
}
.presta-infos h5{
    margin-bottom: 2px;
    margin-top: 5px;
    font-weight: 900;
}
.take_apointement_datetime>input{display:inline;}

.novalid-state{
    color: tomato;
    font-weight: 900;
}
.valid-state{
    color:springgreen;
    font-weight: 900;
}